$primaryBright: #c899fe;
$primary: #8f73f3;
$primaryDark: #8d65eb;
$grey: #f4f5f9;

.container {
  height: 35%;
  width: 100%;
  padding: 40px;
  margin-top: 20px;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(192, 192, 192, 0.219);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
