$greyBackground: #f4f5f9;

.container {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.innerContainer {
  width: 85vw;
  height: 93vh;
  padding: 40px;
  background: #f4f5f9;
  display: flex;
  justify-content: space-around;
}

.rightContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
